{% load cms_tags staticfiles sekizai_tags %}
{% with sid=instance.pk %}
  {% addtoblock "inline_css" %}
    #liquid-columns-{{ sid }} {
      column-count: {{ instance.num_columns }};
      -webkit-column-count: {{ instance.num_columns }};
    }
  {% endaddtoblock %}
  <section id="liquid-columns-{{ sid }}"
           class="static columns columns-{{ instance.num_columns }}">
    {% for plugin in instance.child_plugin_instances %}
    	{% render_plugin plugin %}
    {% endfor %}
  </section>  
{% endwith %}
